[defaults]
inventory=./inventory
remote_user=student
roles_path = /mnt/Ansible/RHCE_Prep/roles
collections_path = /mnt/Ansible/RHCE_Prep/mycollections
ask_pass=false

[privilege_escalation]
become=true
become_method=ansible.builtin.sudo
become_user=root
become_ask_pass=false


# ansible-config dump --only-changed
